# Evernote client
evernote3==1.25.12

# Note parsing / HTML conversion
lxml
beautifulsoup4
unidecode

# for Markdown conversion
slugify
chevron

# API calls
requests
cachecontrol
httplib2

# cli
click

# logging
loguru
