{
    "enexSources": ["{{input_file}}"],
    "templateFile": "{{template_file}}",
    "resourcesDir": "{{resources_subdir}}",
    "outputDir": "{{output_dir}}/{{stack_dir}}/{{notebook_dir}}",
    "isZettelkastenNeeded": false,
    "plainTextNotesOnly": false,
    "useHashTags": true,
    "outputFormat": "{md_format_type}",
    "urlEncodeFileNamesAndLinks": true,
    "skipEnexFileNameFromOutputPath": true,
    "haveEnexLevelResources": true,
    "sanitizeResourceNameSpaces": true,
    "replacementChar": "_",
    "monospaceIsCodeBlock": true,
    "keepMDCharactersOfENNotes": false,
    "keepOriginalAmountOfNewlines": true,
    "keepImageSize": "{md_format_type}",
    "nestedTags": {
        "separatorInEN": "_",
        "replaceSeparatorWith": "/",
        "replaceSpaceWith": "-"
    },
    "addLocation": true,
    "addCreationTime": true,
    "addUpdateTime": true,
    "addSourceUrl": true,
    "addWebClips": true,
    "addTags": true,
    "skipLocation": false,
    "skipCreationTime": false,
    "skipUpdateTime": false,
    "skipSourceUrl": false,
    "skipWebClips": false,
    "skipTags": false,
   "obsidianSettings": {
      "omitLinkDisplayName": false
    }

}