{title-block}# {title}{end-title-block}
---
{content-block}{content}{end-content-block}
---
{location-block}    Where:      {location}{end-location-block}
{created-at-block}  Created at: {created-at}{end-created-at-block}
{updated-at-block}  Updated at: {updated-at}{end-updated-at-block}
{source-url-block}  Source URL: {source-url}{end-source-url-block}
{notebook-block}    Notebook:   {notebook}{end-notebook-block}
{link-to-original-block}    Original Note:  {link-to-original}{end-link-to-original-block}
{tags-block}
---
Tag(s): {tags}
---
{end-tags-block}
